.body {
    width: 70%;
    height: 100%;
    margin: 0;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.searchbar {
    position: absolute;
    top: 255px;
    right: 50px;
    z-index: 1;
}