.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 0;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    padding: 100px auto;
    background-color: #C0FFBA;
}