.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 100%;
}

.label {
    cursor: pointer;
}

.checkbox {
    display: inline;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
