body {
    justify-content: center;
    align-items: center;
}

.header {
    width:100%;
}

ul {
    list-style: none;
    overflow: hidden;
}

.li {
    float: left;
    margin: 0 10px;
}

.nav {
    width: 100%;
    height: fit-content;
}

button {
    width: 150px;
    height: 150px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    transition: all 0.4s;
    border: solid 1px;
    font-size: 20px;
}
button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
a:hover {
    color: white;
}

.header__logo {
    width: 300px;
    height: 100px;
}

img {
    width: 20%;
    height: 60%;
    float: left;
}