.container {
    align-items: center;
    width:100%;
    margin-bottom: 3rem;
}

.header_top {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

.logo_container {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.header_name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_container {
    width: 90px;
    height: 80px;
    margin: 0;
    padding: 0;
}

.logo_img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header_btn_container {
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_btn {
    width: 5rem;
    height: 2.5rem;
    border-radius: 20px;
    border: none;
    background-color: none;
}
.header_btn:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.header_bottom {
    width: 100%;
    height: fit-content;
}

.nav {
    display: flex;
    list-style: none;
    overflow: scroll;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav_item {
    width: 200px;
}

.nav_btn {
    width: 100%;
    height: 3rem;
    background-color: white;
    border-radius: 5px;
    transition: all 0.4s;
    border: solid 1px;
    font-size: 20px;
}
.nav_btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.nav_btn:hover a {
    color: white;
}
