.body {
    justify-content: center;
    align-items: center;
    width:100%;
}

h1 {
    display: inline-block;
}

ul {
    list-style: none;
    overflow: hidden;
}

.li {
    float: left;
    margin: 0 10px;
}

.header_top {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}

.header_bottom {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content:center;
}

.header_btn_container {
    width: fit-content;
    display: flex;
    align-items: center;
}
.header_btn {
    width: 5rem;
    height: 2rem;
    border-radius: 1px;
    border: none;
    background-color: none;
    margin: 0 0.5rem;
}
.header_btn:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.nav_btn {
    width: 150px;
    height: 3rem;
    background-color: white;
    border-radius: 5px;
    transition: all 0.4s;
    border: solid 1px;
    font-size: 20px;
}
.nav_btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
a:hover {
    color: white;
}

.header__logo {
    width: 300px;
    height: 100px;
}

img {
    width: 20%;
    height: 60%;
}