.container {
  width: 80%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: auto;
  margin-right: auto;
}

.container div {
  padding: 5px;
  font-size: 1.5rem;
}

.menu_wrap {
  display: flex;
  justify-content: space-between;
}

.menu_name_wrap {
  display: flex;
}

.contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
}
