.container {
    width: 100%;
    height: 100%;
    margin: 0;
}

.li {
    display: flex;
    width: 90%;
    height: 15rem;
    border: solid 1px #E0E0E0;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
}
.li:hover {
    box-shadow: 3px 3px 5px #E0E0E0;
}

.hotel_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: calc(100% - 200px);
    padding: 0 1rem;
}

.thumb {
    width: 100%;
    height: 100%;
    margin: 0;
}

.likebtn {
    position: absolute;
    top: 10px;
    right: 5px;
}

.thumb_container {
    position: relative;
    width: 30rem;
    height: 15rem;
    padding: 0;
    border: 1px solid black;
}